---
---
$dark-gray: #333;

$menuNotSelected : #FFFFFF;
$menuNotSelectedColor : #AAA;
$headerSize : 100px;
$menuSize : 100px;
$footerSize : 50px;
$minWidth : 1280px;
$light-gray:#E0E0E0;
$bckground: #EFEFEF;
$hover : #CCC;
$menuSelected : #EFEFEF;
$mainFont : "droid serif";
$titleFont : "Open Sans";
$mainTextSize : 15px;
$bigdarkgray : #000000;
$headerColor : $menuNotSelected;
$mainLineHeight : 1.7;
$retraitMaintextGauche :130px;

body{
  padding:100px 50px 50px 50px;
  margin:0;
  font-family: $mainFont, serif;
  min-width:$minWidth;
  display:none;
}

.show{
  opacity: .2 !important;
}
.fatShow{
  opacity: .2 !important;
}

.center{
  margin: 0 auto;
}

.shadow{
  height:50px;
  z-index:100000;
  position:absolute;
  width:100%;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
}

.invertShadow{
  height:50px;
  z-index:100000;
  position:absolute;
  width:100%;
  opacity : 0;
  transition: opacity .3s;
  pointer-events: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

}

 .blink:hover {
      animation: blink .3s 1;
      -webkit-animation: blink .3s 1;
    }
    @keyframes blink {
      from{
        opacity:0;
      }
      33%{
        opacity:.5;
      }
      66%{
        opacity:0;
      }
      to{
        opacity:1;
      }

    }
    @-webkit-keyframes blink {
      from{
        opacity:0;
      }
      33%{
        opacity:.5;
      }
      66%{
        opacity:0;
      }
      to{
        opacity:1;
      }
    }

.lightbox {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, .8);
  z-index:100000;
  display:none;
  background-repeat: no-repeat;
  background-size: auto 90%;
  cursor: pointer; cursor: hand;
  background-position: center;
}

.site-footer{
  //position:absolute;
  height:$footerSize;
  background-color:$bckground;
  width:100%;
  bottom:0;
  font-family: $titleFont;
  margin-bottom:50px;
  padding-bottom:10px;
    hr{
      margin:0 !important;
      opacity:.3;
      width:100% !important;
    }

  div{
    width:100%;
    margin:0 auto;
    font-size:12px;
    line-height:$footerSize;
    opacity:.7;
    width:752px;
    
    span.author{
      font-weight:600;
    }

    span.time{
      font-style:italic;
    }
  }
}




.site-header{
  font-family: $titleFont;
  height:0;
  width: 100%;
  top:0;
  left:0;
  position:fixed;
  z-index:300;
  min-width:$minWidth;

  ul.right{
      right:50px;
  }

  ul.left{
    left:25px;
  }

  ul.right, ul.left{
    position:absolute;
    list-style-type: none;
    //text-transform:uppercase;
    font-weight:100;
    font-size:14px;
    margin:0;
    padding:0;
    top:37px;
    z-index:1000;
    li{
      display:inline-block;
      a{
        color:black !important;
        text-decoration:none;
      }
    }
    li.licontent{
      background:linear-gradient( $hover, $hover) no-repeat;
      background-size:0% 100%;
      background-position:center;
      padding:2px 10px;
      transition: all .3s;
    }

    li.licontent:hover{
      background-size:100% 100%;
      transition: all .3s;
    }
  }
  canvas{
    position:absolute;
    margin-top:20px;
    margin-left:100px;
    z-index:1000;
  }
}

.cover{
  background-position: center;
  right:50px;
  left:50px;
  min-width : $minWidth;
 // width : 100%;
  height: 100%;
  position:fixed;
//padding-top : 550px;
background-size: cover;
text-align:center;

img{
  display:none;
}
canvas{
  position:relative;
  top: 25%;
  transform: translateY(25%);
}
}

// .mainText a{
//   color: black;
// }



div.mainText{
  
  margin:0;
  
  p{
    font-size:$mainTextSize;
    font-weight:400;
    //font-weight:bold;
    width:500px;
    line-height:$mainLineHeight;
    color:#111;
    margin:0 0 1.5em 0;
  //  font-family: 'Roboto Slab', sans-serif;
}


h5 + p{
  margin-left:$retraitMaintextGauche;
  //left:$retraitMaintextGauche;
}

p:first-of-type:first-letter{
  font-size:60px;
  float:left;
  line-height:40px;
  margin-top:8px;
  margin-right:3px;
}

img:first-child{
  margin-top : 0px;
}
img{
  cursor: pointer; cursor: hand;
  width:700px;
  padding:50px;
  margin-top:-50px;
  margin-left:-50px;
  display:block;
}
img:hover{
  background-color:$hover;
  transition:all .5s;
}
}

.media {
  // margin-left : auto;
  // margin-right : auto;
  //padding:50px;
  //padding: 0 20px;
  div.image{
    cursor: pointer; cursor: hand;
    width:100%;
    //set in js ?
  //  height:550px;
//    height:500px;
margin-bottom:10px;
background-position: center;
background-size: cover;
background-repeat : no-repeat;
opacity:.95;
}
div.image{
  transition:all .5s;
}
div.image:hover{
  opacity:1;
  //transition:all .5s;
}
margin-bottom:50px;
}

#homeCover{
  background-position: center;
  z-index:-1000;
  width : 100%;
  height: 100%;
  position:fixed;
  background-size: cover;
  margin:0;
  top:0;
  left:0;
  background-color:$bckground;

  #homeCoverImage{
    display:none !important;
  }
}

.homeContent{
  margin-top:-50px;
  h1{
    font-size:30px;
    font-weight:300;
    color:#444;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:3px;
    margin-right:35px;
    margin-bottom:50px;
  }

  p{
    font-size:$mainTextSize;
    font-weight:400;
    line-height:1.7;
    color:$dark-gray;
    margin:27px 0;
  //  font-family: 'Roboto Slab', sans-serif;
}
p:first-of-type:first-letter{
  font-size:45px;
  float:left;
  line-height:40px;
  margin-top:3px;
  margin-right:3px;
}

img{
  width:300px;
  float:left;
  position:relative;
  margin-right:0px;
  margin-bottom:20px;
  left:-50px;
}


a{
  color:$dark-gray;
  font-weight:700;
}
margin-bottom:100px;
width:650px;

}

.homeWrapper{
  width:750px;
  margin:0 auto;
  margin-top:200px;
}
.home{
  min-width:$minWidth;
}
.project
{

  background-color: $bckground;

  min-width:$minWidth;
 // width:100%;

  .project-content
  {

    width:752px;
    //top:100px;
    //position:relative;
    padding-top:$menuSize + 200px;
    padding-bottom:200px;
    margin:0 auto;
    //padding:0 0;
  }
  .shortDes{
    font-family: $titleFont;
    margin-top:0 ;
    width : 600px;
    line-height: 1.7;
    font-size:30px;
    font-weight: 300;
    color:#000;
  }
  p{
   // text-align:justify;
  }

  hr{
    width:700px;
    margin:0;
    margin-top:40px;
    margin-bottom:50px;
    border-top:dotted 1px $dark-gray;
  }


  ul.metas{
    //border-left:dotted 1px;
    font-family: $titleFont;
    font-size:12px;
    line-height:22.5px;
    float:right;
    width:150px;
    margin:0;
    margin-right:50px;
    padding:0;
    list-style-type: none;


    a{
      display:block;
      .link{
        width : 100%;
        background:linear-gradient( #555, #555) no-repeat;
        background-size:0% 100%;
        background-position:center;
        text-align:center;
        padding-top:5px;
        padding-bottom:5px;
        transition: all .3s;
        color:$light-gray !important;
      }
      background-color:$dark-gray;

      text-decoration:none;
      text-transform:uppercase;
      font-weight:300;
      letter-spacing:1px;

      margin-top:15px;
      margin-left:-7px;

    }


    a .link:hover{
      background-size:100% 100%;
      transition: all .3s;
      //color:$dark-gray !important;
    }
    li{
      display:block;

    }

     li.type{
      position:relative;
      left:7px;
    }

    li.when{
      position:relative;
      left:1px;
    }
    li.where{
      position:relative;
      left:-4px;
    }
    li.what{
      position:relative;
      left:3px;
    }
    li.with{
      position:relative;
      left:6px;
    } 

    span.left{
      font-weight:600;
      margin-right:5px;
      vertical-align : top;

    }
    span.right{
      font-weight:400;
      margin-bottom:10px;
      width:70px;
  }
}
h3,h5{
  float:left;
  position:relative;
  //  left:-150px;
  margin-right:30px;
}
h3{
  margin-left:-210px;
}
h5
{
  margin-left:-210px;
}

h4{
  float:right;
  position:relative;
  margin-left:30px;
  margin-right:10px

}

h3,h4,h5{
  background:linear-gradient( $hover, $hover) no-repeat;
  background-size:0% 100%;
  overflow:visible;
  background-position:50% 0;
    //color:$dark-gray;
    font-size:20px;
    width:300px;
    //height:35px;
    line-height:1.3;
    text-align:center;
    font-weight:700;
    padding:5px;
    transition: all .3s;
    color:#111;
    margin-top:20px;
    margin-bottom:20px;
  }

  h3:hover,h4:hover,h5:hover{
    background-size:100% 100%;
    transition: all .3s;
  }

  h3:before,h4:before,h5:before{
    content:"\"";
    //font-size:20px;
    font-weight:600;
    position:relative;
    //top:5px;
    //left:-3px;
  }
  h3:after,h4:after,h5:after{
    content:"\"";
    //font-size:20px;
    font-weight:600;
    position:relative;
    //top:2px;
    //left:5px;
  }
  h6{
    font-weight:bold;
    font-size:17px;
    color: $bigdarkgray;
  //  text-decoration:underline;
}
}

.menu{
  font-family:$titleFont;
  min-width:$minWidth;
  z-index:10;
  top:0;
  width:100%; 
  position: fixed;
  li{

    // position:relative;
    z-index:100;
    height:$menuSize;
    //background-color:white;
    div.liCenter,a{
      cursor: pointer; cursor: hand;
      width:752px;
      margin:0 auto;
      display:block;
      height:100%;
      line-height:$menuSize;
      color:black !important;
      text-decoration:none;
      letter-spacing:2.5px;
    }
    span.title{
      font-size:15px;
      text-transform:uppercase;
      font-weight:800;
    }

    span.separator{
      font-size:15px;
      margin-left:10px;
      margin-right:10px;

    }
    span.subtitle
    {
      text-transform:uppercase;
      font-size:14px;
      font-weight:300;
    }
  }
  div.schwing{
    background:linear-gradient( $hover, $hover) no-repeat;
    background-size:0% 100%;
    background-position:center;
    transition: all .3s;
  }

  div.schwing:hover{
    background-size:100% 100%;
    transition: all .3s;
  }

  div.selected{
    transition:all .3s;
    line-height:$headerSize;
    text-align:center;
    .prevArrow,.nextArrow{
      width:30px;
      position: absolute;
      img{
        height:40px;
      }
    }

    $leftArrowPos : -460px; 
    $rightArrowPos : $leftArrowPos + 30px;
    .prevArrow{
      margin-left:$leftArrowPos;
      img{
        position:relative;
        top:15px;
        left:0px;
        transition:all .2s;
      }
      img:hover{
        left:-3px;
        transition:all .2s;
      }
    }
    .nextArrow{
      margin-left:$rightArrowPos;
      img{
        position:relative;
        top:15px;
        left:0px;
        transition:all .2s;
      }
      img:hover{
        left:3px;
        transition:all .2s;
      }
    }

    position:relative;
    z-index:100;
    height:$headerSize;
    background-color:$headerColor;
    div.innerSelected{
      cursor: pointer; cursor: hand;
      width:752px;
      height:100%;
      color:black !important;
      text-decoration:none;
      letter-spacing:2.5px;
      text-align:left;
      margin:0 auto;
    }
    span{
    }
    span.title{
      font-size:15px;
      text-transform:uppercase;
      font-weight:600;
    }

    span.separator{
      font-size:15px;

      margin-left:10px;
      margin-right:10px;

    }
    span.subtitle
    {
      text-transform:uppercase;
      font-size:14px;
      font-weight:100;
    }



  }

  .ulContainer{
    overflow:hidden;
    display:none;
  }



  ul{
    margin:0;
    padding:0;
    list-style-type: none;
    overflow-y: scroll;
    .background{
      background-position: center;
      background-size: cover;
      width:100%;
      height:100%;
      position:absolute;
      z-index:-2;
      transition:all .5s;
    }
    .liwhitebackground{
      width:100%;
      height:100%;
      z-index:-4;
      position:absolute;
    }

    div.liCover{
      background-color:white;
      transition:opacity .5s;
      width:100%;
      height:100%;
      position:absolute;
      z-index:-1;
    }


    li:not(.selected){
      //background-color:$menuNotSelected;
      //width : 752px + 20px;
      div a span{
        color:$menuNotSelectedColor !important;
      }
      //margin:2px 0;
      transition: height .5s;
      //transition:.5s;
      min-width:$minWidth !important;
    }
    li:not(.selected){
    //  border-bottom:1px solid $hover;
  }

  li:not(.selected):first-child{
    //  border-bottom:1px solid $hover;
    //  border-top:1px solid $hover;
  }

  li:not(.selected):hover{
    div a span{
      color:black !important;
      transition:.5s;
      transition-property: color;
    }

    div.liCover{
      opacity:.6;
    }
    .background{
       background-position: 0 51%;
    }


    // height:100px;
  }
}

}
