---
---

.thesis-content
  {

    //top:100px;
    //position:relative;
    width:100%;
   // text-align:center;
    padding-top: 200px;
    padding-bottom:200px;
    position:relative;

    p{
    	font-size:16px;
	    font-weight:400;
	    //font-weight:bold;
	    line-height:1.7;
	    color:#111;
	    margin:0 auto 1.5em auto;
        width:700px;
        transition:.5s all;
    }
    p:first-of-type:first-letter{
        font-size:130px;
        float:left;
        position:relative;
        margin-top:-60px;
        margin-bottom:-30px;
        margin-left:80px;
    }
    p:first-of-type:first-line{
        font-weight:600;
    }

    p:nth-of-type(even)
    {
      //  padding-left:100px;
    }

    h1{
        margin:0 auto 200px auto;
        font-size:60px;
        display:block;
        text-align:center;
    }

    h2{
        font-size:60px;
        text-align: center;
        //width: 500px;
        margin: 100px auto 50px auto;
    }

    h3{
        text-align: center;
        width: 500px;
        margin: 0 auto 50px auto;
        text-transform: uppercase;

    }
    h4{
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        width: 500px;
        margin: 0 auto 50px auto;
        line-height:1.7;
    }
   

    .note{
    	position:relative;
    	top:-10px;
    	left:2px;
    	font-size:13px;
        opacity: .5;
        color:#000;
        transition:.5s all;
    }

    .bigNote{
        //font-size:300px;
        font-weight:600;
        color:#000 !important;
        opacity: 1;
    }

    //padding:0 0;

    .notes{
    	.leftNote{
            width:150px;
            left:50px;
            font-size:11px;
    		position:absolute;
    		text-align:left;
            color:#000;
            //opacity:.5;
            transition:.5s all;
    	}
    }

    .fullOpacity{
        opacity: 1 !important;
    }
    .halfOpacity{
        opacity: .5 !important;
    }

    .halfColorText{
        //color:#666;
    }

    .veryDimText{
        opacity:.2 !important;
    }

  }

.site-header{
	position:absolute !important;
}