<header class="site-header">
<a href="{{site.baseurl}}">
  <canvas class="logo">RK</canvas></a>

<ul class ="left">
 <li class="licontent">
    <a href="{{site.baseurl}}#anchor">About</a>
  </li>
</ul>


<ul class="mainMenu right">
  
  
  <li class="licontent">
    <a href="http://jeuvideoavantgarde.tumblr.com/">Game Studies</a>
  </li>
  <li>—</li>
  <li class="licontent">
    <a href="http://erraticstream.tumblr.com/">Lab</a>
  </li>
  <li>—</li>
  <li class="licontent">
    <a href="http://www.twitter.com/ragekit">@Ragekit</a>
  </li>
</ul>

</header>
