<div class="menu" id="anchor">
  <div class="selected">
    {% if page.next.url != nil %}
    <a class="prevArrow" href="{{ page.next.url }}">
      <img src="{{ "assets/left.svg" | prepend: site.baseurl }}"/>
      </a>
    {% endif %}
    {% if page.previous.url != nil %}
    <a class="nextArrow" href="{{ page.previous.url }}"><img src="{{ "assets/right.svg" | prepend: site.baseurl }}"/></a>
    {% endif %}

    <div class="innerSelected blink"><span class="title">{{ page.title }}</span><span class="separator">—</span><span class="subtitle">{{ page.subtitle }} ▾ </span></div>
    </div>
  <div class="ulContainer">
<ul class="menuUl">
  <div class="invertShadow"></div>
  {% for post in site.posts %}
    {% if post.id != page.id %}
    <li>
      <div class="schwing">
    <a href="{{ post.url }}"><span class="title">{{ post.title }}</span><span class="separator">—</span><span class="subtitle">{{ post.subtitle }} // ({{ post.type }})</span></a>
      </div>
    {% endif %}
    </li>
  {% endfor %}
  <div class="shadow"></div>
</ul>
</div>
</div>
