<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<link rel="stylesheet" href="{{site.baseurl}}/css/thesis.css">
<header class="site-header">
    <a href="{{site.baseurl}}/">
      <canvas class="logo">RK</canvas></a>
      <div class="thesisMenuContainer">
        <ul class="thesisMenu">
          <li><a href="#stephen-king-of-fighters">Intro</a></li>
          <li><a href="#etat-des-lieux">Etat des lieux</a></li>
          <li><a href="#transformations">Transformations</a></li>
          <li><a href="#etudes-de-cas">Etudes de cas</a></li>
          <li><a href="#conclusion">Conclusion</a></li>

        </ul>
      </div>


    </header>

    <div class="page-content">
      <div class="wrap">
        <div class="thesis">

          <article class="thesis-content">
            {{content}}
            <div style="clear:both"></div>
          </article>

          {% include footer.html %}

          <div style="clear:both"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{site.baseurl}}/js/thesis.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/js/rk.js"></script>
    
  
  </body>
  </html>
