---
layout: default
---
<div class="thesisMenuContainer">
<ul class="thesisMenu">
	<li><a href="#stephen-king-of-fighters">Intro</a></li>
	<li><a href="#etat-des-lieux">Etat des lieux</a></li>
	<li><a href="#transformations">Transformations</a></li>
	<li><a href="#etudes-de-cas">Etudes de cas</a></li>
	<li><a href="#conclusion">Conclusion</a></li>

</ul>
</div>

<div class="thesis">

  <article class="thesis-content">
  {{content}}
  <div style="clear:both"></div>
  </article>

  {% include footer.html %}

  <div style="clear:both"></div>
</div>
