---
layout: default
---
<div class="lightbox"></div>
<div class="cover">
  <img src="assets/{{ page.cover }}"/>
  <canvas class="loader">RK</canvas>
</div>
<div class="project">

    {% include menu.html %}
  <article class="project-content">

  <div class="shortDes">{{page.shortDes}}</div>
  <hr/>
 
  <div class="mainText">
    {{ content }}
  </div>
   {% if page.type != null %}
  <ul class="metas">
    <li class="type"><span class="left">Type :</span> <span class="right">{{page.type}}</span></li>
    <li class="when"><span class="left">When :</span> <span class="right">{{page.date | date: "%Y"}}</span></li>
      <li class="where"><span class="left">Where :</span> <span class="right">{{page.where}}</span></li>
      <li class="what"><span class="left">What :</span> <span class="right">{{page.what | replace:'/','<br/>'}}</span></li>
      {% if page.with != null %}
      <li class="with"><span class="left">With :</span> <span class="right">{{page.with | replace:'/','<br/>'}}</span></li>
      {% endif %}
       <li>
      {% for link in page.link %}
        {% if page.link contains "http" %}
          <a href="{{link.url}}"><div class="link">{{link.name}}</div></a>
        {% else %}
          <a href="{{ link.url }}"><div class="link">{{link.name}}</div></a>
        {% endif %} 
      {% endfor %}
      </li> 
  </ul>
  {% endif %}
  <div style="clear:both"></div>
  </article>

  <div class="media">
   {% for media in page.externalMedia %}
    <iframe src={{media}} frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
    {% endfor %}
    {% for media in page.media %}
    <div class="image" style="background-image:url({{ media }})">
    </div>
    {% endfor %}
    <!-- {% for media in page.media %}
    <img class="image" src="{{ media | prepend : site.baseurl }}"/>
    {% endfor %} -->
  </div>
  {% include footer.html %}

 <!--  {% if page.color != null %}
  <style>
  .mainText p:first-of-type:first-letter{
    color:#{{ page.color }}
  }
  ul.metas span.right{
    color:#{{ page.color }}
  }
  h3:before,h4:before,h3:after,h4:after{
    color:#{{ page.color }}
  }
  h3,h4,h5{
    color:#{{ page.color }}
  }

  .project ul.metas a{
    background-color:#{{ page.color }}
  }
  strong{
    color:#{{ page.color }};
  }
  .mainText a{
    color:#{{ page.color }}
  }
    </style>
    {% endif %} -->

  <div style="clear:both"></div>
</div>
<script type="text/javascript" src="js/script.js"></script>